---
import type { TServiceItem } from "@/types";

import { Icon } from "astro-icon";

import ContentSection from "@/components/ContentSection.tsx";

const services: Array<TServiceItem> = [
    {
        title: "SaaS Application Development",
        description:
            "Turn your SaaS idea into reality with 37nerds, using cutting-edge technologies like JavaScript, TypeScript, Node.js, React.js, PHP, Laravel, Go, and more.",
        icon: "mdi:handshake",
    },
    {
        title: "ERP Solution For Business",
        description:
            "Enhance business operations with our ERP solution: streamline processes, centralize data, and boost efficiency for improved productivity and growth.",
        icon: "mdi:feather",
    },
    {
        title: "Wordpress Plugin Development",
        description:
            "Create custom WordPress plugins for your specific business needs, featuring clean code and a solid architecture, all crafted by 37nerds.",
        icon: "mdi:directions-fork",
    },
    {
        title: "Complete Ecommerce Soluation",
        description:
            "We'll tailor an e-commerce app to suit your business. If WooCommerce suffices, you get it. For custom needs, we build from scratch using modern technologies.",
        icon: "mdi:directions-fork",
    },
];
---

<ContentSection title="Services" id="services">
    <Fragment slot="lead">
        37nerds boasts <span class="text-primary"
            >a team of highly skilled developers</span
        > who transform your business or software idea
        <span class="text-primary">into impactful solutions</span>
         using modern technologies.
    </Fragment>
    <ul class="flex w-full max-w-6xl flex-wrap justify-center">
        {
            services.map(({ title, description, icon }) => (
                <li class="flex w-full flex-col items-center gap-4 border border-default bg-offset p-6 md:w-1/2 lg:w-1/3">
                    <div class="h-16 w-16 rounded-full border-2 border-current p-3">
                        <Icon name={icon} />
                    </div>
                    <p class="text-center font-extrabold text-xl">{title}</p>
                    <p class="text-center text-offset text-sm">{description}</p>
                </li>
            ))
        }
    </ul>
</ContentSection>
