---
import { frameworks, platforms } from "site.config";

import TechnologyList from "./TechnologyList.tsx";
import ContentSection from "../../components/ContentSection.tsx";
---

<ContentSection title="Technologies" id="Technologies">
    <Fragment slot="lead">
        37nerds <span class="text-primary">happly work</span> with below{" "}
        <span class="text-primary">languages / frameworks</span>
         and development <span class="text-primary">platform</span>.
    </Fragment>
    <TechnologyList items={frameworks} title="Library / Frameworks" url="" />
    <TechnologyList items={platforms} title="Platforms / Languages" url="" />
</ContentSection>
