---
import TechnologyList from "@/components/Technologies.astro";
import Services from "@/components/Services.astro";
import Intro from "@/components/intro.astro";
import Portfolio from "@/components/Portfolio.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
    <div class="space-y-24 px-8 py-32">
        <Intro />
        <Services />
        <TechnologyList />
        <Portfolio />
    </div>
</Layout>
