---
import Technologies from "@/screens/index/Technologies.tsx";
import Services from "@/screens/index/Services.tsx";
import Intro from "@/screens/index/intro.astro";
import Portfolio from "@/screens/index/Portfolio.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
    <div class="space-y-24 px-8 py-32">
        <Intro />
        <Services />
        <Technologies />
        <Portfolio />
    </div>
</Layout>
