---
import type { CompatibilityItem } from "@/types";

import CompatibilityList from "./compatibility-list.astro";
import ContentSection from "./content-section.astro";

const frameworks: Array<CompatibilityItem> = [
    {
        title: "Laravel",
        icon: "frameworks/laravel",
        url: "https://laravel.com",
    },
    {
        title: "Wordpress",
        icon: "frameworks/wordpress",
        url: "https://wordpress.org/",
    },
    {
        title: "Node.js",
        icon: "frameworks/node",
        url: "https://nodejs.dev",
    },
    {
        title: "React.js",
        icon: "frameworks/react",
        url: "https://reactjs.org",
    },
    {
        title: "Solid.js",
        icon: "frameworks/solid",
        url: "https://www.solidjs.com",
    },
    {
        title: "Astro",
        icon: "frameworks/astro",
        url: "https://astro.build",
    },

    // {
    //     title: "Preact",
    //     icon: "frameworks/preact",
    //     url: "https://preactjs.com/",
    // },
    // {
    //     title: "Svelte",
    //     icon: "frameworks/svelte",
    //     url: "https://svelte.dev/",
    // },
    // {
    //     title: "Vue",
    //     icon: "frameworks/vue",
    //     url: "https://vuejs.org/",
    // },
    // {
    //     title: "Lit",
    //     icon: "frameworks/lit",
    //     url: "https://lit.dev/",
    // },
];

const platforms: Array<CompatibilityItem> = [
    {
        title: "JavaScript",
        icon: "platforms/javascript",
        url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
    },
    {
        title: "TypeScript",
        icon: "platforms/typescript",
        url: "https://www.typescriptlang.org",
    },
    {
        title: "PHP",
        icon: "platforms/php",
        url: "https://php.net/",
    },
    {
        title: "Go",
        icon: "platforms/go",
        url: "https://go.dev",
    },
    {
        title: "SQL",
        icon: "platforms/sql",
        url: "https://developer.mozilla.org/en-US/docs/Glossary/SQL",
    },
    {
        title: "MySQL",
        icon: "platforms/mysql",
        url: "https://developer.mozilla.org/en-US/docs/Glossary/SQL",
    },
    // {
    //     title: "Netlify",
    //     icon: "platforms/netlify",
    //     url: "https://www.netlify.com/",
    // },
    // {
    //     title: "Vercel",
    //     icon: "platforms/vercel",
    //     url: "https://vercel.com/",
    // },
    // {
    //     title: "Cloudflare",
    //     icon: "fa-brands:cloudflare",
    //     url: "https://pages.cloudflare.com/",
    // },
    // {
    //     title: "Render",
    //     icon: "platforms/render",
    //     url: "https://render.com/",
    // },
    // {
    //     title: "GitHub",
    //     icon: "fa-brands:github",
    //     url: "https://pages.github.com/",
    // },
    // {
    //     title: "GitLab",
    //     icon: "fa-brands:gitlab",
    //     url: "https://docs.gitlab.com/ee/user/project/pages/",
    // },
];
---

<ContentSection title="Technologies" id="Technologies">
    <Fragment slot="lead">
        37nerds <span class="text-primary">happly work</span> with below{" "}
        <span class="text-primary">languages / frameworks</span>
         and development <span class="text-primary">platform</span>.
    </Fragment>
    <CompatibilityList items={frameworks} title="Library / Frameworks" url="" />
    <CompatibilityList items={platforms} title="Platforms / Languages" url="" />
</ContentSection>
