---
import { Icon } from "astro-icon";
import ContentSection from "@/components/content-section.astro";
---

<ContentSection title="Your visions to life" id="about">
    <Icon slot="eyebrow" name="logomark" class="h-32" />
    <Fragment slot="lead">
        37nerds is your trusted partner in transforming
        <span class="text-primary">innovative</span> ideas
        <span class="text-primary"> into</span> functional software solutions.
        <span class="text-primary">With team of skilled developers,</span>
         we bring your <span class="text-primary">visions</span> to life.
    </Fragment>
    <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <a
            href="/37nerds.com/about#content"
            class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
        >
            <Icon pack="mdi" name="telescope" class="h-8" />
            <span>Read more</span>
        </a>
        <a
            href="#contact"
            class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
        >
            <Icon pack="mdi" name="rocket" class="h-8" />
            <span>Contact Us</span>
        </a>
    </div>
</ContentSection>
